*{
    box-sizing: border-box;

}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    margin: 15px 30px;
    padding: 8px;

}
section{
    margin: 40px;
}
.container{
    padding: 5px 20px 15px 20px;
    background-color: rgb(240, 237, 237);
    border-radius: 5px;
}
header{
    background-color: rgb(119, 189, 15);
    padding: 20px;
    color: white;
    width: 100%;
    border-radius: 5px
}

input,textarea{
   width: 95%;
   padding: 12px;
   border: 1px solid lightgray;
   border-radius: 5px;
   margin: 20px;
}
input[type="submit"]{
    width: 10%;
    padding: 13px;
    background-color: rgb(119, 189, 15);
    color: white;
}
